:root {
  /* --green: #285943; */
  --light-green: #d8f3dc;
  --green: #52b788;
  --dark-green: #386641;
  --bright-green: #15d628;
  --dark-jungle-green: #081c15;
  --grey: #c9c9c9;
}
/* all color text = dark green- */

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
  background: #f2e8cf;
  color: var(--dark-jungle-green);
}

img,
video {
  width: 100%;
  max-width: 900px;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

figcaption {
  margin-left: 1em;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  position: relative;
}

.nav,
.header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  background: #386641;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.nav {
  margin-right: 10vw;
}

.icon {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-left: 10vw;
}

.absolute-icon {
  position: absolute;
  top: 10px;
  left: 0;
  z-index: 100;
}

.icon-image {
  width: 50px;
  height: auto;
}
.icon-text {
  color: var(--bright-green);
}

.fa-bars,
.fa-times {
  padding: 0.5em;
  color: var(--bright-green);
  border: 2px solid var(--green);
  border-radius: 10px;
  margin-right: 1em;
  cursor: pointer;
}

.fa-times {
  display: none;
  padding: 0.5em 0.6em;
}

.nav-list {
  display: none;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.nav-list-mobile {
  position: absolute;
  z-index: -1;
  top: 0;
  right: -9px;
  background: var(--dark-jungle-green);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
  flex-direction: column;
  list-style: none;
}

.nav-list-item {
  text-decoration: none;
  margin: 0 1em;
  color: var(--bright-green);
  padding: 0.25em 0.75em;
  border: 2px solid transparent;
  transition: all 0.25s linear;
}

.nav-list-item-mobile {
  position: relative;
  top: 80px;
}

.nav-list-item:hover,
.nav-list-item:focus {
  background: var(--green);
  color: var(--dark-jungle-green);
  border-radius: 50px;
}

.title,
.slogan,
.page-title,
.testimonials-title,
.copyright,
.values,
.statements {
  text-align: center;
}

.title {
  padding: 1em 0;
  color: #285943;
  font-size: 4rem;
}

.slogan {
  margin: 0 1em 3em;
  padding: 1em;
  font-size: 2rem;
  color: #386641;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, #c9c9c9 100%, #c9c9c9 100%),
    linear-gradient(to bottom, #c9c9c9 100%, #c9c9c9 100%),
    linear-gradient(to right, #c9c9c9 100%, #c9c9c9 100%),
    linear-gradient(to bottom, #c9c9c9 100%, #c9c9c9 100%);
  background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
  background-position: 0 0, 100% 0, 100% 100%, 0 100%;
  -webkit-animation: text-fadein 0.5s, bg 5s linear;
  animation: text-fadein 0.5s, bg 5s linear;
}

.page-title {
  color: #285943;
  border-bottom: 2px solid var(--dark-jungle-green);
  margin: 1.5em auto 2.5em;
  width: 35%;
}

/* SLOGAN ANIMATIONS */
@-webkit-keyframes text-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes text-fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes bg {
  0% {
    background-size: 0 3px, 3px 0, 0 3px, 3px 0;
  }
  25% {
    background-size: 100% 3px, 3px 0, 0 3px, 3px 0;
  }
  50% {
    background-size: 100% 3px, 3px 100%, 0 3px, 3px 0;
  }
  75% {
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 0;
  }
  100% {
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
  }
}

@keyframes bg {
  0% {
    background-size: 0 3px, 3px 0, 0 3px, 3px 0;
  }
  25% {
    background-size: 100% 3px, 3px 0, 0 3px, 3px 0;
  }
  50% {
    background-size: 100% 3px, 3px 100%, 0 3px, 3px 0;
  }
  75% {
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 0;
  }
  100% {
    background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
  }
}
/*  */

.main-section {
  padding: 3em 1em 4em;
}

.main-section:nth-of-type(2n -1) {
  background-color: #f5fdc6;
}

.section-title {
  font-size: 1.75rem;
  margin: 0 1em 1.5em;
  color: var(--dark-green);
  -webkit-text-decoration: underline var(--grey);
  text-decoration: underline var(--grey);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}
.section-image,
.section-text p {
  margin-left: 1em;
}

.section-image {
  border-radius: 20px;
  margin-bottom: 2em;
  box-shadow: 6px 6px 10px 5px rgba(0, 0, 0, 0.5);
  width: clamp(240px, 50%, 500px);
  height: auto;
}

.section-text p {
  margin-bottom: 1em;
  font-size: 1.25rem;
}

.section-text a {
  color: var(--dark-green);
  -webkit-text-decoration: underline 2px var(--dark-jungle-green);
  text-decoration: underline 2px var(--dark-jungle-green);
}

.section-text a:hover {
  color: var(--green);
  -webkit-text-decoration: underline 2px var(--bright-green);
  text-decoration: underline 2px var(--bright-green);
}

.heading,
.sub-heading {
  color: var(--dark-green);
}

.heading {
  text-align: center;
  margin-bottom: 0.5em;
}

.sub-heading {
  margin: 0.75em 0 0.5em;
}

.sub-heading-list {
  margin-bottom: 1.5em;
}

.text-paragraph {
  margin-bottom: 3em;
}

.text-paragraph li,
.text-paragraph p {
  max-width: 60ch;
  line-height: 1.25em;
  letter-spacing: 0.5px;
  margin-bottom: 0.5em;
  margin-left: 10px;
}

.page-title-b {
  color: var(--dark-green);
  margin: 1em auto;
  text-align: center;
  width: 230px;
  border-bottom: 2px solid var(--dark-jungle-green);
}

.bg-text-p,
.inner-container {
  max-width: 60ch;
  margin: 0 auto 2em;
}

.values,
.statements {
  margin-bottom: 3em;
}
.values h3 {
  font-size: 2rem;
}

.values li {
  margin-bottom: 0.25em;
}

.values li,
.statements p {
  font-size: 1.25rem;
}

.statements h3 {
  font-size: 1.75rem;
}

.statements p {
  margin-bottom: 1em;
}

.center-image {
  display: block;
  margin: 0 auto 3em;
}

.testimonials {
  background-color: #081c15;
  color: #d8f3dc;
  margin-bottom: 2em;
  padding: 2em 0 4em;
}

.testimonials-title {
  margin-bottom: 1em;
  text-decoration: none;
  border: 1px solid #000;
  color: #95d5b2;
}

.testimonials-row {
  display: flex;
  justify-content: space-evenly;
}

.testimonials-col {
  width: 40%;
}

.video {
  margin-bottom: 2em;
}

.cta-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 1em;
  max-width: 80%;
  text-align: center;
}

.cta {
  padding: 1em 1.5em;
  background: var(--dark-green);
  color: var(--light-green);
  transition: all 0.5s;
  border-radius: 500px;
}

.cta:hover {
  background: #95d5b2;
  color: var(--dark-jungle-green);
}

.copyright {
  color: var(--dark-jungle-green);
  font-size: 0.75rem;
  padding: 0.25em;
}

@media (max-width: 750x) {
  #menu-btn-close {
    display: none;
  }
}

@media (min-width: 750px) {
  #nav-list {
    display: flex;
  }

  #menu-btn-open,
  #menu-btn-close {
    display: none;
  }
}
