:root {
    --primary: rgb(0, 132, 71);
    /* --primary: #2C5F2D; */
    --secondary: #D7263D;
    --text: rgb(251, 245, 243);
    --dark: rgb(0, 21, 20);
    --nav-bg: rgba(94, 243, 140, .8);
    --link: #F7E1D7;
    --link-hover: #EDAFB8;
    font-size: 18px;

}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background: var(--primary);
    color: var(--text);
}

/* nav-start */
nav {
    position: sticky;
    top: 0;
    background: var(--nav-bg);
}

nav ul {
    display: flex;
    font-size: 20px;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav li {
    list-style-type: none;
    padding: 1em;
}

nav a {
    padding: .5em;
    border: 1px solid transparent;
    color: var(--dark);
}

nav a:hover,
nav a:focus {
    border: 1px solid var(--dark);
    color: var(--secondary);
}
/* nav-end */

a {
    text-decoration: none;
    color: var(--link);
}

a:hover,
a:focus {
    color: var(--link-hover);
    outline: none;
    text-decoration: underline;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
    margin: 0 auto 2em;
    padding: .5em;
    width: 80%;
    max-width: 1000px;
    display: block;
}

h3 {
    font-size: 1.75rem;
}

img {
    width: 100%;
    max-width: 500px;
}

p {
    display: block;
    margin: 0 auto;
    max-width: 60ch;
}

.footer {
    margin-bottom: 3em;
}

.footer a {
    text-decoration: underline;
}

.footer p {
    margin-bottom: 2em;
}

.main-container p {
    padding-bottom: 3em;
}

.slogan {
    border-top: 1px solid var(--dark);
    border-bottom: 1px solid var(--dark);
}

.testimonials {
    background: var(--link);
    color: var(--primary);
    padding-top: .125em;
    padding-bottom: 1em;
}

.testimonials p {
    margin-bottom: 2em;
}

.tester {
    margin-top: -1.25em;
}

.copyright {
    font-size: 12px;
    margin-bottom: 1em;
}

@media only screen and (max-width: 470px) {
    nav ul {
        flex-direction: column;
        padding: .5em;
    }

    nav li {
        padding: 0;
        margin: .5em 0;
    }
}