*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li a {
    text-decoration: none;
    margin: 2em;
}